html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f5deb8;
}

.navbar-nav a {
    color: #fff;
}

@media (min-width: 800px) {
    .px-nav {
        padding-left: 10em;
        padding-right: 10em;
    }
}

.navbar-nav .active {
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

.navbar-nav a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

#carousel .carousel-item.boat {
    background-image: url("images/asia-carrot-chopsticks-delicious-357756.jpg");
}

#carousel .carousel-item.sea {
    background-image: url("images/assorted-japanesse-food-2323398.jpg");
}

#carousel .carousel-item.river {
    background-image: url("images/assorted-sushi-rolls-on-plate-2323391.jpg");
}

#carousel .carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

#carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
}

#carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
}

#carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
}

#carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
}


/* Button */

.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #6e4802;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #f5deb8;
}

.delicious-btn.active,
.delicious-btn:hover,
.delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #f5deb8;
    /* border-color: #40ba37; */
}


/* section 2 */

.section2 {
    color: #6e4802 !important;
}

.section2 .section-details {
    text-align: justify;
}


/* section 3 */

#hero2 {
    background: url('images/sushi-2853382_1920.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.inner {
    background-size: cover;
    width: 100%;
    height: 30vh;
    line-height: 30vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.7) no-repeat;
}

.inner>h1 {
    line-height: 30vh;
    ;
    text-align: center;
    color: #fff;
}

.section-card .card {
    background-color: #bb6528;
    margin: 0 15px;
    padding: 0;
    color: #fff;
}

.card-image {
    height: 200px;
}

.section-card .card-button {
    background-color: #f5deb8;
}


/* section 4 */

.content-text {
    color: #8b4513;
}

@media (min-width: 1200px) {
    .s2 {
        margin-top: -5em;
    }
    .s3 {
        margin-top: -5em;
    }
    .s4 {
        margin-top: -5em;
    }
    .s5 {
        margin-top: -4.5em;
    }
}

@media (max-width: 1100px) {
    .img-fluid-1 {
        max-width: 100%;
        height: auto;
    }
}


/* section 5 */

#team .section-title {
    background-color: #6e4802;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #6e4802;
    border-color: #6e4802;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #6e4802;
    border-color: #6e4802;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #6e4802;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 110, 82);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 110, 82);
    box-shadow: 5px 7px 9px -4px rgb(158, 110, 82);
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    /* background: white; */
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 110, 82);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 110, 82);
    box-shadow: 5px 7px 9px -4px rgb(158, 110, 82);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #6e4802 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #6e4802 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


/* footer */


/*FOOTER*/

footer {
    background: #8b4513;
    color: white;
    margin-top: 100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/


/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #f5deb8;
}

.social-network a.icoInstagram:hover {
    background-color: #f5deb8;
}

.social-network a.icoTwitter:hover {
    background-color: #f5deb8;
}

.social-network a.icoLinkedin:hover {
    background-color: #f5deb8;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #f5deb8;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

.mapDiv {
    height: 150px!important;
    width: 100%;
}


/* C0ntact us form */

.container1 {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #e6ca9e;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #9b7333;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    color: #fff;
    background: #7c5b25;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}